<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ithtl.essapp"
      android:versionCode="12"
      android:versionName="1.2.2">
      
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />    
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    

    <application android:icon="@drawable/logo" android:label="@string/app_name" android:debuggable="true">
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity 
            android:name="com.wastl.Activity.Splash.SplashActivity" 
            android:screenOrientation="portrait" 
        	android:theme="@android:style/Theme.NoTitleBar">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity 
            android:name="com.wastl.Activity.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>            
        
        <activity android:name="com.wastl.Activity.MapActivity"
        		  android:theme="@android:style/Theme.NoTitleBar" />
		
		<activity android:name="com.wastl.Activity.MissionActivity"
				  android:theme="@android:style/Theme.NoTitleBar" />
		
		<activity android:name="com.wastl.Activity.FireDepartmentsActivity"
				  android:label="Feuerwehren im Bezirk" />
		
		<activity android:name="com.wastl.Activity.BrowseDistrictsActivity"
				  android:label="Bezirksalarmzentralen in NÖ"
				  android:theme="@android:style/Theme.Light" />
		
		<activity android:name="com.wastl.Activity.BrowseFireDepartmentsActivity"
				  android:label="Feuerwehren im Bezirk" 
				  android:theme="@android:style/Theme.Black" />
		
		<activity 
		    android:name="com.wastl.Activity.FireDepartmentInfoActivity" 
		    android:screenOrientation="portrait"
			android:label="Feuerwehren" 
			android:theme="@android:style/Theme.NoTitleBar" />
		
	</application>
</manifest>